name: Docker Image CI

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 4 * * 1,3,5'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Add branch to env
        run: echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to the Container registry
        uses: docker/login-action@7ca345011ac4304463197fac0e56eab1bc7e6af0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
          fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

      - name: Dotenv Action^
        id: dotenv
        uses: falti/dotenv-action@v1.0.4
        with:
          log-variables: NEXTCLOUD_VERSION

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@31cebacef4805868f9ce9a0cb03ee36c32df2ac4
        with:
          images: |
            maximilianpohle/nextcloud
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ steps.dotenv.outputs.nextcloud_version }}
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern=${{ env.BRANCH }}
            type=sha

      - name: Build and push Docker images
        uses: docker/build-push-action@9f6f8c940b91232557f8699b21341a08624a8dce
        with:
          push: true
          build-args: |
            NEXTCLOUD_VERSION=${{ steps.dotenv.outputs.nextcloud_version }}
          cache-from: type=registry,ref=maximilianpohle/docker-alpine-nginx-modsec:${{ env.BRANCH }}
          cache-to: type=inline
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
